.message-container {
    border: 1px solid rgb(85, 100, 125);
    border-radius: 35px;
    box-shadow: 5px 5px rgb(85, 100, 125);
    padding: 20px;
    margin-bottom: 15px;
}

p {
    padding-bottom: 15px;
}

img {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(85, 100, 125);
    border-radius: 150px;
}