
<header id="site-header">
  <div class="container">
   
    <div *ngIf="!user">
      <h1 class="site-title"><a [routerLink]="['/']">Site logo</a></h1>
    </div>

    <div *ngIf="!!user">
      <h1 class="site-title"><a [routerLink]="['/users']">Site logo</a></h1>
    </div>

    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a [routerLink]="['/users', user._id]">{{user.username}}</a>
        <button (click)="logout()">logout</button>
      </div>
    </div>

  </div>
</header>

<router-outlet></router-outlet>

<footer id="site-footer">
  <div class="container">
    <p>Developed by Luis Herrera, 2018</p>
  </div>
</footer>

