h2 {
    font-size: 35px;
}

p {
    padding-bottom: 20px;
}

.alert {
    padding-top: 20px;
}

.container {
    padding-top: 30px;
    padding-left: 30px;
}

button {
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(38, 45, 56);
    color: rgb(212, 216, 222);
    cursor: pointer;
}