h2 {
    font-size: 35px;
}

p {
    padding-bottom: 20px;
}

.alert {
    padding-top: 30px;
}

.container {
    padding-left: 30px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(38, 45, 56);
    color: rgb(212, 216, 222);
    cursor: pointer;
    width: 250px;
    height: 40px;
    border-radius: 20px;
}

.interests {
    padding-bottom: 30px;
}

.listed-interests {
    text-transform: uppercase;
    color: rgb(97, 99, 99);
    border: 2px solid black;
    border-radius: 30px;
    max-width: 80px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.listed-interests p {
    padding: 5px;
}

#add-interest {
    padding: 15px;
    background-color: rgb(38, 45, 56);
    color: rgb(212, 216, 222);
    border: 1px solid rgb(85, 100, 125);
    border-radius: 20px;
    margin-top: 30px;
    max-width: 90px;
    padding: 5px 10px;
    font-size: 12px;
}
