h2 {
    font-size: 35px;
}

p {
    padding-bottom: 20px;
}

.alert {
    padding-top: 30px;
}

.container {
    padding-top: 30px;
    padding-left: 30px;
}

button {
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(38, 45, 56);
    color: rgb(212, 216, 222);
    cursor: pointer;
}

.interests {
    padding-bottom: 30px;
}

.listed-interests {
    text-transform: uppercase;
    color: rgb(97, 99, 99);
    border: 2px solid black;
    border-radius: 30px;
    max-width: 100px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.listed-interests p {
    padding: 10px;
}

