<div class="container">
  <h2>Sign Up</h2>

  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
    
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && nameField.errors}">
      <label>Name</label>
      <input type="text" name="name" [(ngModel)]="name" #nameField="ngModel" required [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && nameField.errors">
        <p *ngIf="nameField.errors.required" class="validation">name required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      <label>Username</label>
      <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && usernameField.errors">
        <p *ngIf="usernameField.errors.required" class="validation">username required</p>
        <p *ngIf="usernameField.errors.minlength" class="validation">username is too short</p>
      </div>
    </div>
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && passwordField.errors}">
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="4" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && passwordField.errors">
        <p *ngIf="passwordField.errors.required" class="validation">password required</p>
        <p *ngIf="passwordField.errors.minlength" class="validation">password is too short</p>
      </div>
    </div>

    <!-- THIS DOES NOT LET ADD MORE THAN ONE INTEREST!!
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && interestInput.errors}">
      <label>List your interests</label>
      <input type="text" placeholder="Interests" name="interests" [(ngModel)]="interests" #interestInput="ngModel" required [disabled]="processing">
      <div *ngIf="feedbackEnabled && interestInput.errors">
        <p *ngIf="interestInput.errors.required" class="validation">Interests required</p>
      </div>
    </div> 
    ON TOP OF THAT, THIS WAY THE INTEREST ON THE INPUT DOES NOT SAVE AUTOMATICALLY-->

    <div class="interests">
      <label>List your interests</label>
      <input type="text" placeholder="Interests" #interestInput>
    </div>

    <div *ngFor="let interest of interests">
      <p>{{ interest }}</p>
    </div>
  
    <div class="field submit">
      <button type="submit" [disabled]="processing">Sign Up</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
    </div>
  </form>

  <p>or</p>

  <button (click)="addInterest(interestInput)">Add another interest</button>
  
  <p>Already have an account? <a [routerLink]="['/login']">Log in Here</a></p>
</div>

