/* ---- reset ---- */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 0;
}

/* ---- typography ---- */

body {
    background-color:rgb(212, 216, 222);
    color: rgb(38, 45, 56);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(128, 152, 189);
}

a:hover {
    text-decoration: underline;
}

/* ---- layout ---- */

#site-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: rgb(212, 216, 222);
    background: rgb(38, 45, 56);
}

#site-header button {
    background-color: inherit;
    color: rgb(212, 216, 222);
    border: 2px solid rgb(212, 216, 222);
    border-radius: 10px;
    font-size: 14px;
}

#site-header a {
    color: rgb(212, 216, 222);
}

.user-log {
    padding: 20px 0;
}

.user-links {
    display: flex;
    justify-content: space-between;
}

.linkto {
    padding: 0 15px;
}

#site-footer {
    color: rgb(212, 216, 222);
    padding: 10px 0;    
    background: rgb(38, 45, 56);
    position: fixed;
    bottom: 0;
    width: 100%;
}

#site-footer p {
    font-size: 12px;
}

#site-main {
    margin-bottom: 60px;
}

.footer-container {
    margin: 0 20px;
}

.container {
    margin: 0 20px;
    padding-top: 100px;
    padding-bottom: 60px;
}

.section {
    margin-bottom: 20px;
    padding-top: 20px;
}

/* ---- components ---- */

/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(38, 45, 56);
  color: rgb(212, 216, 222);
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

input {
    width: 250px;
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(237, 242, 241);
}

textarea {
    width: 310px;
    height: 100px;
    margin-left: 10px;
    border-radius: 15px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(237, 242, 241);
    border: 2px inset;
}

@media (min-width: 500px) {
    textarea {
        width: 400px;
        margin-left: 20px;
    }
}