.container {
    padding-left: 30px;
}

button {
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(38, 45, 56);
    color: rgb(212, 216, 222);
    cursor: pointer;
    border-radius: 15px;
}

.backhome {
    padding-top: 20px;
}

.user-interests {
    text-transform: uppercase;
    padding-bottom: 10px; 
}

ul {
    list-style-type: none;
}

.user-description {
    padding: 20px;
    margin-bottom: 15px;
}